[submodule "prelude"]
	path = prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "tree-sitter"]
	path = tree-sitter
	url = git@github.com:aDotInTheVoid/tree-sitter.git
	branch = buck2
